<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pages/childs"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Child</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="true">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Child</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <ion-card>
      <ion-card-header color="pink">
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-avatar class="ion-margin-end">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content class="ion-text-start" style="padding: 16px;">

        <ion-item class="item-single ion-margin-bottom" color="medium">
          <ion-input type="text" label="Name" placeholder="Enter name here" name="name" [(ngModel)]="name" required></ion-input>
        </ion-item>

        <ion-item class="item-single ion-margin-bottom" color="medium">
          <ion-input type="number" label="Age" placeholder="0" name="age" min="1" max="18" [(ngModel)]="age" required></ion-input>
        </ion-item>

        <ion-item class="item-single ion-margin-bottom" color="medium">
          <ion-input type="text" label="Class Name" placeholder="Eg: 1 Bestari" name="class_name" [(ngModel)]="class_name" required></ion-input>
        </ion-item>

        <ion-item class="item-single ion-margin-bottom" color="medium">
          <ion-input type="text" label="Year Level" placeholder="Eg: Year 1" name="year_level" [(ngModel)]="year_level" required></ion-input>
        </ion-item>

        <ion-item class="item-single ion-margin-bottom" color="medium">
          <ion-input type="text" label="Allergies" placeholder="Eg: No peanut" name="allergies" [(ngModel)]="allergies" required></ion-input>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </form>

  <ion-card *ngIf="qr_code">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Student's QR Code</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img style="width: 100%;" [src]="this.qr_code" alt="QR Code">
    </ion-card-content>
    <ion-button class="ion-margin" style="margin-top: 0;" (click)="downloadQR()" expand="block">
      <ion-icon slot="start" name="cloud-download-outline"></ion-icon>Download QR Code
    </ion-button>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!form.valid" expand="block" (click)="submitForm(form)" color="success">Confirm</ion-button>
  </ion-toolbar>
</ion-footer>
