<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>QR Scanner</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR Code Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <!-- Shows our camera stream -->
    <video #video [hidden]="!scanActive" width="100%" height="100%"></video>

    <!-- Used to render the camera stream images -->
    <canvas #canvas hidden></canvas>

    <ion-card *ngIf="qrCodeData && !isLoading && studentData">
      <ion-item-divider color="dark" *ngIf="reservationData">
        <ion-grid fixed>
          <ion-row>
            <ion-col class="ion-text-start">Reservation Date</ion-col>
            <ion-col size="auto">{{ reservationData.date }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>
      <ion-card-header color="pink">
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-avatar class="ion-margin-end">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-text style="font-size: larger; font-weight: bold;">{{ studentData.name }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content class="ion-text-start">

        <div>
          <br>
          <ion-text><b>Parent/Guardian:</b> {{ studentData.parent_name }}</ion-text>
          <br>
          <ion-text><b>Age:</b> {{ studentData.age }}</ion-text>
          <br>
          <ion-text><b>Class:</b> {{ studentData.class_name ? studentData.class_name : 'N/A' }}</ion-text>
          <br>
          <ion-text><b>Year Level:</b> {{ studentData.year_level ? studentData.year_level : 'N/A' }}</ion-text>
          <br>
          <ion-text><b>Allergies:</b> {{ studentData.allergies ? studentData.allergies : 'N/A' }}</ion-text>
        </div>

        <br>
        <div class="divider"></div>

        <ion-grid fixed *ngIf="reservationData">
          <ion-row class="ion-margin-top ion-align-items-center">
            <ion-col class="ion-text-start" style="font-size: larger; font-weight: bold;">Order Summary</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-start">{{ reservationData.menu_name }}</ion-col>
            <ion-col size="auto" style="font-weight: bold;">{{ reservationData.amount_paid | currency: 'RM' }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-start">Quantity</ion-col>
            <ion-col size="auto" style="font-weight: bold;">x {{ reservationData.quantity }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-start">Reservation Date</ion-col>
            <ion-col size="auto" style="font-weight: bold;">{{ reservationData.date }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-card *ngIf="!reservationData" color="danger" style="margin-bottom: 0; margin-left: 0; margin-right: 0;">
          <ion-card-content>This student has no reservation left for today.</ion-card-content>
        </ion-card>

      </ion-card-content>
      <ion-button *ngIf="reservationData" class="ion-margin" style="margin-top: 0;" size="small" expand="block" color="success" (click)="redeemReservation()">Redeem Reservation</ion-button>
    </ion-card>

    <ion-card *ngIf="qrCodeData && !isLoading && !studentData" color="danger">
      <ion-card-content>Invalid QR Code</ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>

    <!-- Fallback for iOS PWA -->
    <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)">

    <!-- Trigger the file input -->
    <ion-button expand="block" (click)="captureImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Capture Image
    </ion-button>

    <ion-button expand="block" (click)="startScan()" *ngIf="!scanActive && !qrCodeData">
      <ion-icon slot="start" name="scan-outline"></ion-icon>
      Start scan
    </ion-button>

    <ion-button expand="block" (click)="reset()" color="warning" *ngIf="!scanActive && qrCodeData">
      <ion-icon slot="start" name="refresh"></ion-icon>
      Reset
    </ion-button>

    <!-- Stop our scanner preview if active -->
    <ion-button expand="block" (click)="stopScan()" color="danger" *ngIf="scanActive">
      <ion-icon slot="start" name="close"></ion-icon>
      Stop scan
    </ion-button>
  </ion-toolbar>
</ion-footer>
