/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// MASTER OVERWRITE 1 - Background
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content {
  --background: var(--ion-color-light);
}

ion-tabs {
  background-color: var(--ion-color-light);

  ion-tab-button {
    --color: #8383ae;
    --background-focused: white;
    --color-selected: white;
  }
}

ion-tab-bar {
  --background: #0e0b2d;
}

// MASTER OVERWRITE 2 - List & Item
ion-list {
  padding: 0px !important;
}

ion-item {
  .label-title {
    font-weight: bold;
    display: block;
    white-space: pre-wrap;
  }

  .label-subtitle {
    font-weight: normal;
    font-size: small;
    display: block;
    white-space: pre-wrap;
  }

  .label {
    font-weight: normal;
    font-size: small;
    display: block;
    white-space: pre-wrap;
  }
}

.item-single {
  border-radius: 10px;
  --border-style: none;
}

.item-start {
  border-radius: 10px 10px 0 0;
}

// .item-middle {
//   margin: 0 10px;
// }

.item-end {
  border-radius: 0 0 10px 10px;
  --border-style: none;
}

// MASTER OVERWRITE 3 - Grid & Column
ion-grid {
  padding: 0px;
}

ion-col {
  padding: 0px;
}

// MASTER OVERWRITE 4 - Icon
ion-icon {
  cursor: pointer;
}

.item-icon-end {
  padding-top: 25.81px;
}

// MASTER OVERWRITE 5 - Card
ion-card {
  margin: 16px;

  ion-card-header {
    padding: 16px;
  }

  ion-card-content {
    text-align: center;
  }
}

// MASTRER OVERWRITE 6 - Toolbar
ion-toolbar {
  --background: var(--ion-color-light) !important;
  --color: var(--ion-color-dark) !important;
}

ion-footer {
  ion-toolbar {
    --border-color: var(--ion-color-light);
  }
}

// CUSTOM STYLING 1 - Container
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.divider {
  border-bottom: 1px solid var(--ion-color-primary);
}

// CUSTOM STYLING 2 - Error Handler
.required {
  color: red;
}

.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}

.error-text {
  font-size: small;
  font-weight: bold;
  color: var(--ion-color-danger);
}

// STYLING FIX 1 - Title Alignment
ion-header {
  ion-title {
    text-align: center;
  }
}

// STYLING FIX 2 - Hide file input type
input[type="file"] {
  display: none;
}

//STYLING FIX 3 - Text autofill color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
}

//STYLING FIX 4 - Card Text Color
ion-card {
  --color: var(--ion-color-dark);
}

// Form
.form-label {
  padding-left: 5px;
  ion-label {
    font-weight: bold;
    white-space: normal !important;
  }
}

.form-input {
  margin-top: 5px;
  margin-bottom: 20px;
  ion-icon {
    margin-right: 10px;
  }
}

.form-input-hidden {
  display: none !important;
}
